{
	"projects": [
		{
			"name": "bankangle",
			"shortName": "ba",
			"cliChar": "b",
			"type": "django",
			"dependant": true,
			"port": 8000,
			"celeryAppName": "bankangle",
			"loadTermsheetTemplates": true,
			"environmentVariables": {
				"rootDir": "BA_ROOT",
				"virtualenvPath": "BA_VENV",
				"dbName": "BA_DB"
			}
		},
		{
			"name": "bankangle_node",
			"shortName": "ba_node",
			"cliChar": "n",
			"type": "node",
			"dependant": false,
			"tracksProject": "bankangle",
			"environmentVariables": {
				"rootDir": "BA_NODE_ROOT",
				"virtualenvPath": "BA_NODE_NENV"
			}
		},
		{
			"name": "om_elements",
			"shortName": "om",
			"cliChar": "o",
			"type": "node",
			"dependant": false,
			"urls": {
				"local": "file://$OM_ROOT/dist/om-app",
				"default": "https://dev.originmarkets-dev.com/angular/",
				"develop": "https://dev.originmarkets-dev.com/angular/",
				"qa": "https://qa.originmarkets-dev.com/angular/",
				"master": "https://login2.originmarkets.com/angular/"
			},
			"environmentVariables": {
				"rootDir": "OM_ROOT",
				"virtualenvPath": "OM_NENV",
				"url": "OM_URL"
			}
		},
		{
			"name": "kodiak",
			"shortName": "kod",
			"cliChar": "k",
			"type": "django",
			"dependant": false,
			"port": 8002,
			"urls": {
				"local": "http://127.0.0.1:8002",
				"default": "https://kodiak.originmarkets-prd.com/",
				"develop": "https://kodiak.originmarkets-dev.com/",
				"master": "https://kodiak.originmarkets-labs.com/"
			},
			"environmentVariables": {
				"rootDir": "KOD_ROOT",
				"virtualenvPath": "KOD_VENV",
				"dbName": "KOD_DB",
				"url": "KOD_URL"
			}
		}
	]
}
